body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    color: #fff;
    padding: 10px 20px;
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    
    color: #e81b1b;
}

.image-containery {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1200px;
    height: 850px;
    position: relative;
    padding: 20px;
}

.image-containery::before {
    content: '';
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.container {
    text-align: center;
    color: white;
}

.main-text {
    font-size: 5em;
    font-weight: bold;
}

.sub-text {
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-top: 10px;
    gap: 5px;
}

.sub-text span {
    margin: 0 15px;
}

.search-submit {
    background: #C271FF;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 190px;
    height: 50px;
    border-radius: 6cm;
}

.search-submit:hover {
    background: #d35400;
}

.learn_pros {
    text-align: center;
}

.learn {
    color: #C271FF;
}

.smile_of_year {
    position: absolute;
    left: 5.07%;
    right: 74.51%;
    top: 69.35%;
    bottom: 16.93%;
    font-size: 13px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-style: normal;
    text-align: center;
    line-height: 12px;
}

.little_smile {
    position: absolute;
    left: 25.72%;
    right: 59.86%;
    top: 69.35%;
    bottom: 16.93%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.friend_smile {
    position: absolute;
    left: 49.65%;
    right: 39.93%;
    top: calc(50% - 27px/2 + 385px);
    bottom: 16.93%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

.friend_smile img {
    height: 150px;
    width: auto;
    position: absolute;
    transform: translateX(-50%);
    top: -195px;
}

.friend_smile h3, .friend_smile p {
    margin: 0px -10px;
    text-align: center;
    line-height: 12px;
}

.smiles_winner {
    position: absolute;
    height: 27px;
    left: 70.72%;
    right: 16.86%;
    top: 69.35%;
    bottom: 16.93%;
    line-height: 12px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
}

.Small_back{
    width: 1240px;
    height: 15px;
    background-color:#071629;
}
/* === TESTIMONIALS SECTION STYLES === */
.testimonials {
    background-color:  #C271FF;
    padding: 70px 0px;
    color: white;
    display: flex;
    gap: 53px;
    justify-content: center;
    align-items: center;
}

.testimonials__content {
    max-width: 700px;
}

.testimonials__content blockquote {
    font-size: 20px;
    line-height: 1.25;
}

.testimonials__content h3 {
    margin-top: 22px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.testimonials p {
    font-style: italic;
    font-size: 18px;
}

/* tutorial section */

.tutorials {
    padding: 50px 100px;
    margin-bottom: 37px;
}

.tutorials__title {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: normal;
    margin-bottom: 75px;
}

.tutorials__title>span {
    color:  #C271FF;
    font-weight: bold;
}

.tutorials__container {
    display: flex;
    justify-content: space-evenly;
}

.tutorial {
    width: 225px;
    position: relative;
    border-radius: 10px;
}

.tutorial__img {
    width: 100%;
}

.tutorial_playbtn {
    position: absolute;
    width: 64px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.tutorial__title {
    color: black;
    margin-top: 18px;
    margin-bottom: 7px;
}

.tutorial__text {
    color: light-blue;
    line-height: 1.2;
    margin-bottom: 13px;
}

.tutorial_author {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 14px;
}

.tutorial_author img {
    width: 35px;
}

.tutorial_author h4 {
    color:  #C271FF;
    font-size: 14px;
}

.tutorial__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: -10px;
    height: -30px;
    object-fit: cover; 
    
}
.tutorial__rating img{
    width: 130px;
    height: 35px;
}
.tutorial__rating p {
    color:  #C271FF;
    font-weight: 700;
    padding:5px;
    
}



